@font-face {
    font-family: 'serif';
    src: url('./fonts/font-2.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sans';
    src: url('./fonts/font-1.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'encoded';
    src: url('./fonts/font-9.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 900px;
    /* overflow: hidden; */
}
.logo{
    position: fixed;
    top: 3%;
    left: 1.5%;
    z-index: 19;
    width: 180px;
    height: 180px;
}
.menu{
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 21;
}
.logo-footer{
    position: fixed;
    width: 345px;
    height: 40px;
    bottom: 0;
    right: 0;
    margin: 24px 24px 5px 24px;
    z-index: 19;
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.5);;
    color: white;
}
.sprite img{
    height: 36px;
    padding: 0 10px;
}
.wakanda{
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.wakanda img{
    height: 30px;
    padding: 0 25px;
}
.footer-txt{
    font-weight: 400;
    font-size: 10px;
    margin: 0 auto;
}
.slides{
    inset: -10%;
    position: fixed;
    transform-style: preserve-3d;
    transition: transform 300ms cubic-bezier(.2,.9,.3,1);
    will-change: transform;
    /* pointer-events: none; */
}
.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-0{
    background-image: url('./img/bg-0.png');
}
.slide-1{
    background-image: url('./img/bg-1.png');
}
.slide-2{
    background-image: url('./img/bg-2.png');
}
.slide-3{
    background-image: url('./img/bg-3.png');
}
.slide-4{
    background-image: url('./img/bg-4.png');
}
.slide-5{
    background-image: url('./img/bg-5.png');
}
.slide-6{
    background-image: url('./img/bg-6.png');
}
.slide-7{
    background-image: url('./img/bg-7.png');
}
.video-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding-top: 20vh;
}
.video {
    width: auto;
    height: 70vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: 2px solid rgba(153,255,136, 0.5);
    background-color: rgb(18,44,0);
}
.video video{
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.video::before{
    content: "";
    inset: 20px;
    z-index: 9;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgba(153,255,136, 0.4);
}
.video::after {
  content: "";
  inset: 0;
  opacity: 0.5;
  filter: blur(1px);
  z-index: 2;
  position: absolute;
  background-image: url('./img/noise.gif');
}
.video .content{
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    z-index: 3;
    width: 100%;
    left: 50%;
    top: 65%;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    /* pointer-events: none; */
    text-transform: uppercase;
}
.font-sans{
    font-family: 'sans', sans-serif;
}
.font-serif{
    font-family: 'serif', Georgia;
}
.font-mono{
    font-family: 'encoded', Courier, monospace;
}
.name:first-of-type{
    margin-top: 3em;
}
.name1:first-of-type {
    margin-top: 5em;
}
.name{
    margin: 0.5em 0;
    font-size: 36px;
}
.role-encoded{
    font-size: 11px;
    color: lightgreen;
    opacity: 0.8;
    letter-spacing: 4px;
}
.role{
    font-size: 18px;
    letter-spacing: 4px;
}
.pointer-container{
    position: relative;
    color: #fff;
}
.pointer-container .pointer{
    z-index: 16;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pointer-container .line{
    z-index: 16;
    position: absolute;
    display: block;
    top: 50%;
    width: 66px;
    height: 1px;
    left: calc(50% - 33px);
    transform: rotate(-45deg) translate(50%, 0px);
    background: linear-gradient(90deg, #ffffff 2.52%, rgba(255, 255, 255, .2) 90%);
}
.pointer-container .eye, .pointer-container .check{
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 55px);
    transform: translate(-50%, -50%);
}
.pointer-container .border{ 
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.pointer-container .watch{ 
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 5px;
}
.pointer-container .hover{ 
    z-index: 15;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 100px);
    width: 140px;
    height: 50px;
    transform: translate(-50%, -50%);
    transition: all 1s;
    filter: blur(5px);
    pointer-events: auto;
    border-radius: 20px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.6);
}
:hover .hover, .viewed .hover{
    background-color: rgba(144, 238, 144, 0.8);
}
.viewed .pointer-container .watch{ 
    color: rgba(144, 238, 144, 0.9);
}
.eye, .viewed .check{
    display: block;
}
.viewed .eye, .check{
    display: none;
}
.pop-up{
    display: none;
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 17;
}
.video-pop-up{
    width: 80%;
}
.read-pop-up{
    width: 20%;
    padding: 60px 40px;
    font-weight: 600;
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;    
}
.left-line{
    position: absolute;
    left: 20%;
    margin-bottom: 4px;
}
.right-line{
    position: absolute;
    left: 50%;
}
.title-text{
    margin: 20px 0 5px 0;
    font-size: 32px;
    text-shadow: 
    0 0 2px rgba(144, 238, 144, 0.8),
    0 0 5px rgba(144, 238, 144, 0.8),
    0 0 10px rgba(144, 238, 144, 0.8);
    letter-spacing: 2px;
    line-height: 32px;
}
.name-text{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.nametoo-text{
    font-weight: 400;
    margin-top: 10px;
    color: #2df872;
    font-size: 8px;
    letter-spacing: 6.5px;
    text-shadow: 
        0 0 2px rgba(144, 238, 144, 0.8),
        0 0 5px rgba(144, 238, 144, 0.8),
        0 0 10px rgba(144, 238, 144, 0.8);
    ;
}
.circle{
    font-size: 7px;
    margin: 34px 0px;
}
.description{
    filter: contrast(50%) brightness(85%);
    font-weight: 100;
    text-transform: none;
    color: #c0c0c0;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    font-family: Arial, sans-serif;
}
.pop-up video{
    width: 100%;
    height: auto;
}
.overlay{
    display: none;
    position: fixed;
    z-index: 16;
    background-color: #000;
    opacity: 0.9;
    width: 120%;
    height: 120%;
}
.pop-up.open, .overlay.open{
    display: block;
}
.pointer-left{
    position: absolute;
    top: 53%;
    left: 61.75%;
}
.pointer-center{
    position: absolute;
    top: 54%;
    left: 51.75%;
}
.pointer-right{
    position: absolute;
    top: 53%;
    left: 42%;
}
.bottom-txt{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: white;
}
.txt{
    text-shadow: 
    0 0 5px rgba(144, 238, 144, 0.8),
    0 0 10px rgba(144, 238, 144, 0.8),
    0 0 20px rgba(144, 238, 144, 0.8);
}
.txt-1{
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 3px;
}
.txt-2{
    font-weight: 500;
    font-size: 1.35em;
    letter-spacing: 3px;
}
.txt-3{
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 3px;
    margin-top: 20px;

}