body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 900px;
    /* overflow: hidden; */
}
.slides{
    inset: -10%;
    position: fixed;
    transform-style: preserve-3d;
    transition: transform 300ms cubic-bezier(.2,.9,.3,1);
    will-change: transform;
    pointer-events: none;
}
.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-0{
    background-image: url('./img/bg-0.png');
}
.slide-1{
    background-image: url('./img/bg-1.png');
}
.slide-2{
    background-image: url('./img/bg-2.png');
}
.slide-3{
    background-image: url('./img/bg-3.png');
}
.slide-4{
    background-image: url('./img/bg-4.png');
}
.slide-5{
    background-image: url('./img/bg-5.png');
}
.slide-6{
    background-image: url('./img/bg-6.png');
}
.slide-7{
    background-image: url('./img/bg-7.png');
}
.video-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding-top: 20vh;
}
.video {
    width: auto;
    height: 70vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: 2px solid rgba(153,255,136, 0.5);
    background-color: rgb(18,44,0);
}
.video video{
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}
.video::before{
    content: "";
    inset: 20px;
    z-index: 9;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgba(153,255,136, 0.4);
}
.video::after {
  content: "";
  inset: 0;
  opacity: 0.5;
  filter: blur(1px);
  z-index: 2;
  position: absolute;
  background-image: url('./img/noise.gif');
}
