@font-face {
    font-family: 'serif';
    src: url('./fonts/font-2.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sans';
    src: url('./fonts/font-1.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'encoded';
    src: url('./fonts/font-9.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 900px;
    /* overflow: hidden; */
}
.slides{
    inset: -10%;
    position: fixed;
    transform-style: preserve-3d;
    transition: transform 300ms cubic-bezier(.2,.9,.3,1);
    will-change: transform;
    /* pointer-events: none; */
}
.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-0{
    background-image: url('./img/bg-0.png');
}
.slide-1{
    background-image: url('./img/bg-1.png');
}
.slide-2{
    background-image: url('./img/bg-2.png');
}
.slide-3{
    background-image: url('./img/bg-3.png');
}
.slide-4{
    background-image: url('./img/bg-4.png');
}
.slide-5{
    background-image: url('./img/bg-5.png');
}
.slide-6{
    background-image: url('./img/bg-6.png');
}
.slide-7{
    background-image: url('./img/bg-7.png');
}
.video-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding-top: 20vh;
}
.video {
    width: auto;
    height: 70vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border: 2px solid rgba(153,255,136, 0.5);
    background-color: rgb(18,44,0);
}
.video video{
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.video::before{
    content: "";
    inset: 20px;
    z-index: 9;
    position: absolute;
    border-radius: 5px;
    border: 1px solid rgba(153,255,136, 0.4);
}
.video::after {
  content: "";
  inset: 0;
  opacity: 0.5;
  filter: blur(1px);
  z-index: 2;
  position: absolute;
  background-image: url('./img/noise.gif');
}
.video .content{
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    z-index: 3;
    width: 100%;
    left: 50%;
    top: 65%;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    /* pointer-events: none; */
    text-transform: uppercase;
}
.font-sans{
    font-family: 'sans', sans-serif;
}
.font-serif{
    font-family: 'serif', Georgia;
}
.font-mono{
    font-family: 'encoded', Courier, monospace;
}
.name:first-of-type{
    margin-top: 3em;
}
.name1:first-of-type {
    margin-top: 5em;
}
.name{
    margin: 0.5em 0;
    font-size: 36px;
}
.role-encoded{
    font-size: 11px;
    color: lightgreen;
    opacity: 0.8;
    letter-spacing: 4px;
}
.role{
    font-size: 18px;
    letter-spacing: 4px;
}
.pointer-container{
    position: relative;
    color: #fff;
}
.pointer-container .pointer{
    z-index: 16;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pointer-container .line{
    z-index: 16;
    position: absolute;
    display: block;
    top: 50%;
    width: 66px;
    height: 1px;
    left: calc(50% - 33px);
    transform: rotate(-45deg) translate(50%, 0px);
    background: linear-gradient(90deg, #ffffff 2.52%, rgba(255, 255, 255, .2) 90%);
}
.pointer-container .eye, .pointer-container .check{
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 55px);
    transform: translate(-50%, -50%);
}
.pointer-container .border{ 
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.pointer-container .watch{ 
    z-index: 16;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 5px;
}
.pointer-container .hover{ 
    z-index: 15;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% + 100px);
    width: 140px;
    height: 50px;
    transform: translate(-50%, -50%);
    transition: all 1s;
    filter: blur(5px);
    pointer-events: auto;
    border-radius: 20px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.6);
}
:hover .hover, .viewed .hover{
    background-color: rgba(144, 238, 144, 0.8);
}
.viewed .pointer-container .watch{ 
    color: rgba(144, 238, 144, 0.9);
}
.eye, .viewed .check{
    display: block;
}
.viewed .eye, .check{
    display: none;
}
.pop-up{
    display: none;
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 17;
}
.video-pop-up{
    width: 80%;
}
.read-pop-up{
    width: 30%;
}
.pop-up video{
    width: 100%;
    height: auto;
}
.overlay{
    display: none;
    position: fixed;
    z-index: 16;
    background-color: #000;
    opacity: 0.9;
    width: 120%;
    height: 120%;
}
.pop-up.open, .overlay.open{
    display: block;
}
.custom-pointer{
    position: absolute;
    left: 50%;
    top: 50%;
}

.pointer-container{

}